<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="flex-footer">
      {% for block in section.blocks %}
        <div class="flex__item" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'social' %}
              <div class="site-footer__section">
                {% if block.settings.title != blank %}
                  <h4 class="h1 site-footer__section-title text-{{ block.settings.align }}">{{ block.settings.title | escape }}</h4>
                {% endif %}
                <ul class="list--inline social-icons text-{{ block.settings.align }}">
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                        {% include 'icon-facebook' %}
                        <span class="icon__fallback-text">Facebook</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_twitter_link != blank %}
                    <li>
                      <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                        {% include 'icon-twitter' %}
                        <span class="icon__fallback-text">Twitter</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_pinterest_link != blank %}
                    <li>
                      <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                        {% include 'icon-pinterest' %}
                        <span class="icon__fallback-text">Pinterest</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_instagram_link != blank %}
                    <li>
                      <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                        {% include 'icon-instagram' %}
                        <span class="icon__fallback-text">Instagram</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_tumblr_link != blank %}
                    <li>
                      <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                        {% include 'icon-tumblr' %}
                        <span class="icon__fallback-text">Tumblr</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_snapchat_link != blank %}
                    <li>
                      <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                        {% include 'icon-snapchat' %}
                        <span class="icon__fallback-text">Snapchat</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_youtube_link != blank %}
                    <li>
                      <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                        {% include 'icon-youtube' %}
                        <span class="icon__fallback-text">YouTube</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_vimeo_link != blank %}
                    <li>
                      <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                        {% include 'icon-vimeo' %}
                        <span class="icon__fallback-text">Vimeo</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>

            {% when 'menu' %}
              {% if linklists[block.settings.link_list].links.size > 0 %}
                <div class="site-footer__section">
                  <h4 class="h1 site-footer__section-title">{{ linklists[block.settings.link_list].title }}</h4>
                  <ul class="site-footer__list">
                    {% for link in linklists[block.settings.link_list].links %}
                      <li class="site-footer__list-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            {% when 'text' %}
              <div class="site-footer__section">
                <h4 class="h1 site-footer__section-title">{{ block.settings.title | escape }}</h4>
                <div class="rte-setting">{{ block.settings.text }}</div>
              </div>

            {% when 'newsletter' %}
              <style>
                .site-footer__newsletter-input {
                  background-color: {{ block.settings.color_newsletter_input }};
                  color: {{ block.settings.color_newsletter_input_text }};
                }

                .site-footer__newsletter-input::-webkit-input-placeholder {
                  color: {{ block.settings.color_newsletter_input_text }};
                  opacity: 0.7;
                }

                .site-footer__newsletter-input:-moz-placeholder {
                  color: {{ block.settings.color_newsletter_input_text }};
                  opacity: 0.7;
                }

                .site-footer__newsletter-input:-ms-input-placeholder {
                  color: {{ block.settings.color_newsletter_input_text }};
                  opacity: 0.7;
                }

                .site-footer__newsletter-input::-ms-input-placeholder {
                  color: {{ block.settings.color_newsletter_input_text }};
                  opacity: 1;
                }
              </style>
              <div class="site-footer__section">
                <h4 class="site-footer__section-title h1">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title | escape }}
                  {% endif %}
                </h4>
                <div class="form-vertical">
                  {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                      <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                    {% else %}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <label for="NewsletterEmail-{{ block.id }}" class="site-footer__newsletter-label">
                        {% if block.settings.subheading != blank %}
                          {{ block.settings.subheading }}
                        {% endif %}
                      </label>
                      <div class="input-group">
                        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail-{{ block.id }}" class="input-group__field site-footer__newsletter-input" autocorrect="off" autocapitalize="off">
                        <div class="input-group__btn">
                          <button type="submit" class="btn btn--narrow" name="commit">
                            {% include 'icon-arrow-right' %}
                            <span class="icon__fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
                          </button>
                        </div>
                      </div>
                    {% endif %}
                  {% endform %}
                </div>
              </div>

          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="site-footer__copyright">
    <div class="page-width">
      <div class="grid medium-up--grid--table">
        <div class="grid__item medium-up--one-half">
          <small>{{ shop.name | link_to: routes.root_url }} &reg; {{ 'now' | date: '%Y' }}. </small>
        </div>
        <div class="grid__item medium-up--one-half medium-up--text-right">
          {%- if section.settings.show_payment_icons -%}
            {%- unless shop.enabled_payment_types == empty -%}
              <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
              <ul class="list--inline payment-icons">
                {%- for type in shop.enabled_payment_types -%}
                  <li>
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endunless -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "ms": "Pengaki",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "hi": "भुगतान आइकन दिखाएं",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "ms": "Tunjukkan ikon pembayaran",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "social",
      "name": {
        "da": "Konti på sociale medier",
        "de": "Social-Media-Konten",
        "en": "Social accounts",
        "es": "Cuentas de redes sociales",
        "fi": "Sosiaalisen median tilit",
        "fr": "Comptes sociaux",
        "hi": "सोशल खाते",
        "it": "Account social",
        "ja": "ソーシャルアカウント",
        "ko": "소셜 계정",
        "ms": "Akaun sosial",
        "nb": "Sosiale kontoer",
        "nl": "Social media-accounts",
        "pt-BR": "Contas em redes sociais",
        "pt-PT": "Contas de redes sociais",
        "sv": "Sociala konton",
        "th": "บัญชีผู้ใช้โซเชียลมีเดีย",
        "zh-CN": "社媒帐户",
        "zh-TW": "社群帳戶"
      },
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "ms": "Tajuk",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Følg os",
            "de": "Folge uns",
            "en": "Follow us",
            "es": "Síguenos",
            "fi": "Seuraa meitä",
            "fr": "Suivez-nous",
            "hi": "हमारा अनुसरण करें",
            "it": "Seguici",
            "ja": "フォローする",
            "ko": "우리를 팔로우하기",
            "ms": "Ikut kami",
            "nb": "Følg oss",
            "nl": "Volg ons",
            "pt-BR": "Acompanhe",
            "pt-PT": "Siga-nos",
            "sv": "Följ oss",
            "th": "ติดตามเรา",
            "zh-CN": "关注我们",
            "zh-TW": "追蹤我們"
          }
        },
        {
          "type": "radio",
          "id": "align",
          "label": {
            "da": "Justering af ikon",
            "de": "Symbolausrichtung",
            "en": "Icon alignment",
            "es": "Alineación de ícono",
            "fi": "Kuvakkeen tasaus",
            "fr": "Alignement des icônes",
            "hi": "आइकन पंक्तिबद्ध करना",
            "it": "Allineamento icona",
            "ja": "アイコンのアラインメント",
            "ko": "아이콘 정렬",
            "ms": "Penjajaran ikon",
            "nb": "Ikonjustering",
            "nl": "Pictogram uitlijning",
            "pt-BR": "Alinhamento de ícone",
            "pt-PT": "Alinhamento de ícone",
            "sv": "Ikonjustering",
            "th": "การจัดวางไอคอน",
            "zh-CN": "图标对齐方式",
            "zh-TW": "圖示對齊"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "da": "Venstre",
                "de": "Links",
                "en": "Left",
                "es": "Izquierda",
                "fi": "Vasen",
                "fr": "Gauche",
                "hi": "बाएँ",
                "it": "Sinistra",
                "ja": "左",
                "ko": "왼쪽",
                "ms": "Kiri",
                "nb": "Venstre",
                "nl": "Links",
                "pt-BR": "Esquerda",
                "pt-PT": "Esquerda",
                "sv": "Vänster",
                "th": "ด้านซ้าย",
                "zh-CN": "左侧",
                "zh-TW": "左方"
              }
            },
            {
              "value": "center",
              "label": {
                "da": "Centreret",
                "de": "Mitte",
                "en": "Center",
                "es": "Centrar",
                "fi": "Keskitetty",
                "fr": "Centre",
                "hi": "केंद्र",
                "it": "Al centro",
                "ja": "中央",
                "ko": "센터",
                "ms": "Tengah",
                "nb": "Sentrer",
                "nl": "Midden",
                "pt-BR": "Centro",
                "pt-PT": "Centro",
                "sv": "Centrera",
                "th": "ตรงกลาง",
                "zh-CN": "居中",
                "zh-TW": "置中"
              }
            },
            {
              "value": "right",
              "label": {
                "da": "Højre",
                "de": "Rechts",
                "en": "Right",
                "es": "Derecha",
                "fi": "Oikea",
                "fr": "Droite",
                "hi": "दाएँ",
                "it": "Destra",
                "ja": "右",
                "ko": "오른쪽",
                "ms": "Kanan",
                "nb": "Høyre",
                "nl": "Rechts",
                "pt-BR": "Direita",
                "pt-PT": "Direita",
                "sv": "Höger",
                "th": "ด้านขวา",
                "zh-CN": "右侧",
                "zh-TW": "右方"
              }
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "menu",
      "name": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "ms": "Menu",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "ms": "Menu",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer",
          "info": {
            "da": "Denne menu viser ikke rullemenupunkter",
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fi": "Tämä valikko ei näytä pudotuskohteita",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "hi": "इस मेनू में ड्रॉपडाउन आइटम दिखाई नहीं देंगे",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "ko": "이 메뉴는 드롭 다운 항목을 표시하지 않습니다.",
            "ms": "Menu ini tidak akan menunjukkan item juntai bawah",
            "nb": "Denne menyen vil ikke vise rullegardinelementer",
            "nl": "Dit menu laat geen vervolgkeuze-items zien.",
            "pt-BR": "Este menu não mostra itens suspensos",
            "pt-PT": "Este menu não irá mostrar itens pendentes",
            "sv": "Den här menyn kommer inte att visa listmenyobjekt",
            "th": "เมนูนี้จะไม่แสดงรายการดรอปดาวน์",
            "zh-CN": "此菜单不会显示下拉项",
            "zh-TW": "這個選單不會顯示下拉式項目"
          }
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "ms": "Teks",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "ms": "Tajuk",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Tekstkolonne",
            "de": "Textspalte",
            "en": "Text column",
            "es": "Columna de texto",
            "fi": "Tekstisarake",
            "fr": "Colonne de texte",
            "hi": "टेक्स्ट स्तंभ",
            "it": "Colonna di testo",
            "ja": "テキスト列",
            "ko": "텍스트 칼럼",
            "ms": "Lajur teks",
            "nb": "Tekstkolonne",
            "nl": "Tekst kolom",
            "pt-BR": "Coluna de texto",
            "pt-PT": "Coluna de texto",
            "sv": "Textkolumn",
            "th": "คอลัมน์ข้อความ",
            "zh-CN": "文本列",
            "zh-TW": "文字欄"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "ms": "Teks",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder</p>",
            "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients</p>",
            "hi": "<p>अपने ग्राहकों के साथ स्टोर विवरण, प्रचार या ब्रैंड सामग्री शेयर करें</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuto del brand con i clienti</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する</p>",
            "ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
            "ms": "<p>Kongsi maklumat, promosi atau kandungan jenama kedai dengan pelanggan anda</p>",
            "nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine</p>",
            "nl": "<p>Deel winkeldetails, promoties of merkinhoud met uw klanten</p>",
            "pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes</p>",
            "pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo\nde marca com os seus clientes</p>",
            "sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
            "th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
            "zh-CN": "<p>与您的客户分享商店详细信息、促销信息或品牌内容</p>",
            "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "hi": "न्यूज़लेटर",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "ms": "Surat berita",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      },
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "color_newsletter_input",
          "label": {
            "da": "Feltet nyhedsbrev",
            "de": "Newsletter-Feld",
            "en": "Newsletter field",
            "es": "Campo del boletín",
            "fi": "Uutiskirje",
            "fr": "Champ de la newsletter",
            "hi": "न्यूज़लेटर क्षेत्र",
            "it": "Campo newsletter",
            "ja": "ニュースレターのフィールド",
            "ko": "뉴스레터 필드",
            "ms": "Medan surat berita",
            "nb": "Nyhetsbrev-feltet",
            "nl": "Veld nieuwsbrief",
            "pt-BR": "Campo da newsletter",
            "pt-PT": "Campo da newsletter",
            "sv": "Nyhetsbrevets fält",
            "th": "ช่องข้อมูลของจดหมายข่าว",
            "zh-CN": "新闻稿字段",
            "zh-TW": "電子報欄位"
          },
          "default": "#1a1a1a"
        },
        {
          "type": "color",
          "id": "color_newsletter_input_text",
          "label": {
            "da": "Tekst til nyhedsbrev",
            "de": "Newsletter-Text",
            "en": "Newsletter text",
            "es": "Texto del boletín",
            "fi": "Uutiskirjeen teksti",
            "fr": "Texte de la newsletter",
            "hi": "न्यूज़लेटर टेक्स्ट",
            "it": "Testo newsletter",
            "ja": "ニュースレターのテキスト",
            "ko": "뉴스레터 텍스트",
            "ms": "Teks surat berita",
            "nb": "Tekst til nyhetsbrev",
            "nl": "Tekst nieuwsbrief",
            "pt-BR": "Texto da newsletter",
            "pt-PT": "Texto da newsletter",
            "sv": "Nyhetsbrevets text",
            "th": "ข้อความของจดหมายข่าว",
            "zh-CN": "新闻稿文本",
            "zh-TW": "電子報文字"
          },
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "ms": "Tajuk",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Vær opdateret",
            "de": "Bleiben Sie auf dem Laufenden",
            "en": "Be in the know",
            "es": "Mantente informado",
            "fi": "Pysy ajan tasalla",
            "fr": "Restez au courant",
            "hi": "जानकार बनें",
            "it": "Rimani aggiornato",
            "ja": "よく知ってください",
            "ko": "정확히 알기",
            "ms": "Jadilah orang yang tahu",
            "nb": "Hold deg oppdatert",
            "nl": "Wees op de hoogte",
            "pt-BR": "Fique por dentro",
            "pt-PT": "Esteja por dentro",
            "sv": "Håll dig informerad",
            "th": "รับข่าวสาร",
            "zh-CN": "消息灵通",
            "zh-TW": "掌握最新動態"
          }
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": {
            "da": "Underoverskrift",
            "de": "Unter-Überschrift",
            "en": "Subheading",
            "es": "Subtítulo",
            "fi": "Alaotsikko",
            "fr": "Sous-titre",
            "hi": "उपशीर्षक",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "ko": "소제목",
            "ms": "Sub tajuk",
            "nb": "Underoverskrift",
            "nl": "Subkop",
            "pt-BR": "Subtítulo",
            "pt-PT": "Subtítulo",
            "sv": "Underrubrik",
            "th": "หัวเรื่องย่อย",
            "zh-CN": "副标题",
            "zh-TW": "子標題"
          },
          "default": {
            "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
            "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
            "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
            "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
            "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
            "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
            "hi": "<p>प्रमोशन, नए उत्पाद और सेल. सीधे आपके इनबॉक्स में.</p>",
            "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
            "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
            "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
            "ms": "<p>Promosi, produk baharu dan jualan. Terus ke peti masuk anda.</p>",
            "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
            "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in uw inbox.</p>",
            "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>",
            "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
            "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
            "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
            "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
            "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
