{% comment %}
Password message which you can edit on /admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
	<p class="password-page__message">
		{{ shop.password_message }}
	</p>
{% endunless %}

{% comment %}
Signup form
{% endcomment %}
{% if section.settings.newsletter_enable %}
  <div class="password-signup-form">
	{% form 'customer' %}
	  {{ form.errors | default_errors }}
	    {% if form.posted_successfully? %}
			<ul class="form-success">
				<li>{{ 'general.password_page.signup_form_success' | t }}</li>
			</ul>
		{% else %}
			<p class="h2">{{ section.settings.newsletter_form_heading | escape }}</p>
			{% unless section.settings.newsletter_form_subheading == blank %}
				<div class="password-signup-form__subheading">
					{{ section.settings.newsletter_form_subheading }}
				</div>
			{% endunless %}
			<input type="hidden" name="contact[tags]" value="prospect, password page">
			<label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
			<div class="input-group">
				<input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
				<span class="input-group__btn">
					<button type="submit" name="commit" class="btn btn--narrow">
						{% include 'icon-arrow-right' %}
						<span class="icon__fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				</span>
			</div>
		{% endif %}
	  {% endform %}
	{% endif %}
</div>



{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "ms": "Tunjukkan pendaftaran surat berita",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Intestazione del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "ms": "Tajuk borang surat berita",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Kuule uusista julkistuksista ensimmäisten joukossa.",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "hi": "हम कब लॉन्च करते हैं, यह पता करने वाले सबसे पहले व्यक्ति बनें.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "ms": "Jadi yang pertama untuk mengetahui bila kami dilancarkan.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      },
      "info": {
        "da": "[Fortæl dine kunder om en rabat på lanceringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fi": "[Kerro kävijöille aloituspäivän alennuksesta](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "hi": "[अपने दर्शकों को लॉन्च के दिन की छूट के बारे में बताएं](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[출시 할인에 대해 방문자에게 알리십시오](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and -customer-loyalty).",
        "ms": "[Beritahu kepada pelawat anda tentang diskaun hari pelancaran](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and -kesetiaan pelanggan).",
        "nb": "[Fortell de besøkende om en lanseringsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel je bezoekers over kortingen op openingsdag](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto).",
        "pt-PT": "[Informe os seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om rabatter på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกผู้เยี่ยมชมของคุณเกี่ยวกับส่วนลดวันเปิดตัว](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "zh-CN": "[告诉访客您的推出日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[通知訪客上市日折扣活動](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का उपशीर्षक",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "ms": "Sub tajuk borang surat berita",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Nyhetsbrevsformulär underrubrik",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "hi": "<p>प्रमोशन, नए उत्पाद और सेल. सीधे आपके इनबॉक्स में.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "ms": "<p>Promosi, produk baharu dan jualan. Terus ke peti masuk anda.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in uw inbox.</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Newsletter-Platzhalter Text",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Paramètre fictif de la newsletter",
        "hi": "न्यूज़लेटर प्लेसहोल्डर टेक्स्ट",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "ニュースレターのプレースホルダテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "ms": "Teks ruang letak surat berita",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pt-BR": "Texto do marcador de posição da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดจดหมายข่าว",
        "zh-CN": "新闻稿占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "da": "E-mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "hi": "ईमेल पता",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "ms": "Alamat e-mel",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    }
  ]
}
{% endschema %}
